.product {
    border: 1px solid black;
    padding: 12px;
    border-radius: 6px;
    margin: 6px;
}

.product__title {
    text-align: center;
}

.product__descr {
}

.product__img {
}

.product__price {
    font-weight: 700;
}

.productCont {
    display: flex;
    flex-direction: row;
}
